:root {
  /* COLORS */
  --primary: #4510a3;
  --secondary: #0cd2ab;
  --dark: #323232;
  --neutral: #f9f9f9;
  --whithe: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 18px;
  font-family: "Mulish", sans-serif;
  color: var(--dark);
}

/* COMMUNS */
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--dark);
}

button {
  border: none;
  padding: 1rem 2.5rem;
  font-size: 20px;
  font-weight: 500;
  border-radius: 0.5rem;
  opacity: 1;
  transition: 0.4s;
}

button:hover {
  cursor: pointer;
  opacity: 0.8;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 32px;
  margin-bottom: 0.5rem;
}

h3 {
  font-size: 80px;
}

h4 {
  font-size: 24px;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
}

.highlight {
  color: var(--primary);
  font-weight: bold;
}

/* HEADER */
.header {
  width: 100%;
  max-width: 1240px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 4rem;
  background-color: var(--primary);
  border-radius: 1rem;
  color: var(--whithe);

  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 1;

  position: fixed;
  top: 1.5rem;
  z-index: 999;
}

.header .menu-items {
  display: flex;
  gap: 3rem;
  font-size: 20px;
}

.header button {
  background-color: var(--secondary);
  color: var(--whithe);
}

/* HERO */
.hero-content {
  display: flex;
  /* align-items: center; */
  height: calc(100vh - 260px);
}

.hero-content .left-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.hero-content .left-container .hero-title {
  width: 80%;
}

.hero-content .right-container {
  display: flex;
  align-items: end;
}

.hero-content .rigth-container {
  width: 100%;
}

.hero-content button {
  background-color: var(--primary);
  color: var(--whithe);
}

/* INFO */
.info {
  height: 180px;
  background-color: var(--neutral);
}

.info .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

/* WHAT IS */
.what-is {
  color: var(--whithe);
  background-color: var(--primary);
}

.what-is .container {
  display: flex;
  align-items: center;
  gap: 8rem;
  height: 296px;
}

.what-is img {
  position: relative;
  top: -1.1rem;
}

/* WHO USES */
.who-uses .container {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  padding: 4rem 0;
}

.who-uses p {
  width: 80%;
}

/* WHEN USE */
.when-use {
  display: flex;
  align-items: center;
  color: var(--whithe);
  background-color: var(--primary);
  height: 383px;
}

.when-use .container {
  display: flex;
  align-items: center;
  gap: 8rem;
}

.when-use button {
  background-color: var(--secondary);
  color: var(--whithe);
  margin-top: 2rem;
}

/* HOW SIMPLE */
.how-simple .container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 100px 0;
}

.simple-articles {
  display: flex;
}

.simple-articles article {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.simple-articles article h3 {
  color: var(--primary);
}
.simple-articles article p {
}

.questions {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.questions p {
  border-bottom: 1px solid var(--neutral);
}

/* BLOG */
.blog .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 2rem 0;
}

.blog .section-titles {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blog .container h2 {
  font-size: 48px;
}

.blog .blog-articles {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.blog .blog-articles article {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.blog .blog-articles h4 {
  font-size: 20px;
}

.blog button {
  margin-top: 1rem;
  background-color: var(--primary);
  color: var(--whithe);
}

/* FOOTER */
.footer .container {
  display: flex;
  align-items: center;
  padding-bottom: 2rem;
}

.footer .container .company-info {
  flex: 1;
  width: 21%;
  margin-right: 6rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.footer .address p {
  font-size: 14px;
}

.footer .social-media {
  display: flex;
  justify-content: space-between;
}

.footer .social-media i {
  font-size: 28px;
}

.footer .container .footer-menu {
  flex: 2;
  display: flex;
  justify-content: space-between;
}

.footer .container .footer-menu h4 {
  padding-top: 60px;
}
